
<section class="col-xs-12 col-sm-9 col-sm-offset-3" id="featured-section">
  <h2>Featured</h2>
  <div class="row">
    <div class="col-xs-12">
      <div class="movie-container"><img src="/assets/img/the-elephant-man-hero.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/2ToC4vh_itg?rel=0">
          <h2 class="movie-title">The Elephant Man</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</section>