
<section class="col-xs-12 col-sm-offset-3" id="coming-soon-section">
  <h2>New / Coming Soon</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/45-years.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/Tg5cpiX18TA">
          <h2 class="movie-title">45 Years</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/light-between-oceans.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/w51IR_BFGyc">
          <h2 class="movie-title">The Light Between Oceans</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/the-wailing.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/TVTbF379ORM">
          <h2 class="movie-title">The Wailing</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/the-club2.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/e8c2DYoF7lA">
          <h2 class="movie-title">The Club</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/embrace-of-the-serpent2.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/4ff7TcnqHUc">
          <h2 class="movie-title">Embrace of the Serpent</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true">                       </i>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
<section class="col-xs-12c ol-sm-9 col-sm-offset-3" id="past-section">
  <h2>Canon</h2>
  <div class="row">
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/img/magnolia.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/cxcegktcxSM">
          <h2 class="movie-title">Magnolia</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/beaches.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/G59ivoXtmW4">
          <h2 class="movie-title">Beaches</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="movie-container"><img src="/assets/img/bicycle-thief2.jpg"/>
        <div class="overlay" data-trailer-url="https://www.youtube.com/embed/oqib1EaY5G8">
          <h2 class="movie-title">Bicycle Thief</h2><i class="fa fa-play-circle play-button fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</section>