.container-fluid
  .row
    aside.nav-aside.col-sm-3#nav-aside
      .collapse.navbar-collapse
        ul.nav.nav-pills.nav-stacked.hidden-xs
          li
            a.nav-link(href="#" data-linked-item="#featured-section") Featured
          li
            a.nav-link(href="#" data-linked-item="#featured-section") Coming Soon
          li
            a.nav-link(href="#" data-linked-item="#featured-section") Past
          li
            a.nav-link(href="#" data-linked-item="#featured-section") About
          li
            a.nav-link(href="#" data-linked-item="#featured-section") Contact         
