section#featured-section.col-xs-12.col-sm-9.col-sm-offset-3
  h2 Featured
  .row
    .col-xs-12
      .movie-container
        img(src="/assets/img/the-elephant-man-hero.jpg")
        .overlay(data-trailer-url="https://www.youtube.com/embed/2ToC4vh_itg?rel=0")
          h2.movie-title The Elephant Man
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden="true")

section#coming-soon-section.col-xs-12.col-sm-9.col-sm-offset-3
  h2 New / Coming Soon
  .row
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/45-years.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/Tg5cpiX18TA')
          h2.movie-title 45 Years
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/light-between-oceans.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/w51IR_BFGyc')
          h2.movie-title The Light Between Oceans
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/the-wailing.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/TVTbF379ORM')
          h2.movie-title The Wailing
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/the-club2.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/e8c2DYoF7lA')
          h2.movie-title The Club
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/embrace-of-the-serpent2.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/4ff7TcnqHUc')
          h2.movie-title Embrace of the Serpent
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')                        
.clearfix

section#past-section.col-xs-12.col-sm-9.col-sm-offset-3
  h2 Canon
  .row
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/magnolia.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/cxcegktcxSM')
          h2.movie-title Magnolia
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/beaches.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/G59ivoXtmW4')
          h2.movie-title Beaches
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')
    .col-xs-6.movie-container
      
        img.img-responsive(src='/assets/img/bicycle-thief2.jpg')
        .overlay(data-trailer-url='https://www.youtube.com/embed/oqib1EaY5G8')
          h2.movie-title Bicycle Thief
          i.fa.fa-play-circle.play-button.fa-5x(aria-hidden='true')
