header#header {

  &.fixed-theme {

    .navbar-fixed-top {
      background-color: black;
      padding: 0;
    }

    .navbar-brand {
      height: 73px;
    }
  }

  .navbar-brand {
    font-size: 4em;
  }

  .navbar {

    &.fixed-theme {
      font-size: 18px;
      color: #FFF;
    }

    &.navbar-fixed-top {
      padding: 20px 0 20px 0;

      &.fixed-theme {
        background-color: #222;
        border-color: #080808;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
      }
    
    }
  }

  .navbar-container.fixed-theme { 
    padding: 0; 
  }

  .navbar-brand.fixed-theme
, .navbar-container.fixed-theme
, .navbar.navbar-fixed-top.fixed-theme,
, .navbar-brand,
, .navbar-container {
    transition: 0.8s;
    -webkit-transition:  0.8s;
  }

  .navbar-nav { 
    background-color: black; 
  }

  span.icon-bar { 
    background-color: black ; 
  }

  button.navbar-toggle.collapsed {
    border: 1px solid black;
  }

  .navbar-brand {
    font-family: 'IM Fell English', serif, 'Fjalla One',Helvetica,sans-serif;
    font-style: italic;

    small {
      display: block;
      font-size: 13px;
      padding-left: 60px;
      position: relative;
      top: -8px;
      font-family: 'IM Fell English', serif, 'Fjalla One', Helvetica, sans-serif;
      color: black;

      &.fixed-theme {
        top: 0;
        color: #FFF;
      }
    }
  }

  .dropdown {
    position: fixed;
    top: 133px;
    z-index: 2000;
    width: 100%;
    left: 0;

    &.fixed-theme {
      top: 65px;
    }

    ul {
      padding-bottom: 10px;
    }
  }
}

