// =============================================================================
// Colors
// =============================================================================
//
$shades-of-grey : (
  'light' :      #F5F5F5
);

$white : #FFF;
$gray : #222;
$black : #080808;
